@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&display=swap'); 

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer {
    body {
        @apply text-whiteColor bg-primaryColor


    }
}
.rubik-glitch pop-regular {
    font-family: "Rubik Glitch Pop", system-ui;
    font-weight: 400;
    font-style: normal;
}